@page
@model OnlineVerilog.Pages.Auth.LogInModel

@{
    ViewData["Title"] = "LogIn";
}

<div class="row" style="margin-top: 100px;">
    <div class="col-md-4"></div>
    <div class="col-md-4 logIn">
        <div class="ToMiddle blueColor">
            <h1>Логовање</h1>
            <hr />
        </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label">Емаил</label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="User.Password" class="control-label">Шифра</label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group ToMiddle">
                <input type="submit" value="Улогуј се" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <hr />
            <p>Немаш налог? <a asp-page="Register">Креирај налог</a></p>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
