@page
@model OnlineVerilog.Pages.ExamplesSection.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="row row-middle">
    <div class="col-md-6">
        <h1>Create new example</h1>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label asp-for="Example.Section" class="control-label"></label>
                    <input asp-for="Example.Section" class="form-control" />
                    <span asp-validation-for="Example.Section" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="Example.Header" class="control-label"></label>
                    <input asp-for="Example.Header" class="form-control" />
                    <span asp-validation-for="Example.Header" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Example.Body" class="control-label"></label>
                <textarea asp-for="Example.Body" class="form-control" rows="4" cols="50"></textarea>
                <span asp-validation-for="Example.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Example.TestBench" class="control-label"></label>
                <textarea asp-for="Example.TestBench" class="form-control" rows="10" cols="50"></textarea>
                <span asp-validation-for="Example.TestBench" class="text-danger"></span>
            </div>
            <div class="form-group newExamplebutton">
                <input type="submit" value="Save the example" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
