@page
@model OnlineVerilog.Pages.ExamplesSection.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Example</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Example.Section" class="control-label"></label>
                <input asp-for="Example.Section" class="form-control" />
                <span asp-validation-for="Example.Section" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Example.Header" class="control-label"></label>
                <input asp-for="Example.Header" class="form-control" />
                <span asp-validation-for="Example.Header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Example.Body" class="control-label"></label>
                <textarea asp-for="Example.Body" class="form-control" rows="4" cols="50"></textarea>
                <span asp-validation-for="Example.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Example.TestBench" class="control-label"></label>
                <textarea asp-for="Example.TestBench" class="form-control" rows="4" cols="50"></textarea>
                <span asp-validation-for="Example.TestBench" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
