@model List<OnlineVerilog.Models.Example>
@{
    var distinctSections = Model.Select(m => m.Section).Distinct().ToList();
    //Model.GroupBy(p => p.Section).Distinct().ToList();
}
<div id="exampleList">
    <h3 style="color:cornflowerblue"><b>Задаци</b></h3>
    <ul class="list-unstyled" style="color:cornflowerblue">
        @foreach (var distinctSection in distinctSections)
        {
            var headers = Model.Where(p => p.Section == distinctSection).ToList();
            <li><a href="#" onclick="hideList('@distinctSection')" style="text-decoration: none;"><b>@distinctSection</b></a></li>
            <ol id="@distinctSection" class="list-unstyled" style="margin-left: 15px;">
                @foreach (var header in headers)
                {
                    if (header.SolvedByUsers != null)
                    {
                        <li><i class="fa fa-check green-tick"></i> <a href="/ExamplesSection/@header.Id" style="text-decoration: none;"> @header.Header</a></li>
                    }
                    else
                    {
                        <li><a href="/ExamplesSection/@header.Id" style="text-decoration: none;"> @header.Header</a></li>                        
                    }
                }
            </ol>
        }
    </ul>
</div>
